<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kinship.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
				<key>dateExpires</key>
				<string>16/05/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AEOTPTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>10.23.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>10.23.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>10.23.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>10.23.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LGSideMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RESegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>5.18.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVPinView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>16.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TagListView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8C045FD644FD20A96A65E46387B9346D715D8617</string>
						<key>dateExpires</key>
						<string>16/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANGG7ZYJ2</string>
						<key>name</key>
						<string>Daxesh Patel</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7ANGG7ZYJ2.com.iroid.kinship.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7ANGG7ZYJ2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Kinship.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>14b0c660-a1a1-4468-98dd-0548d713eafd</string>
				<key>dateExpires</key>
				<string>16/05/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.iroid.kinship.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7ANGG7ZYJ2</string>
				<key>name</key>
				<string>Daxesh Patel</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
